<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="shortcut icon" href="https://i.imgur.com/K68mvIF.png" style="border-radius: 80px;" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="https://i.imgur.com/K68mvIF.png" />
  <title>AntiRaid - Applications</title>
</head>

<body>
  <%- include("partials/header", { bot, user, path, }) %>
  <center>
  <h1 class="fa fa-code" style="font-size: 40px;"> Developer Panel</h1>
  <% if (alert) { %>
    <div style="background-color: rgb(32, 235, 83);  border: solid; border-color: black; width: 800px; height: 40px; border-radius: 4px; padding: 6px">
      <b><i class="fa fa-warning" style="color: black;"></i> <%= text %></b>
    </div>
  <% }else if(error){ %>
    <div style="background-color: rgb(109, 10, 7);  border: solid; border-color: black; width: 800px; height: 40px; border-radius: 4px; padding: 6px">
      <b><i class="fa fa-warning" style="color: black;"></i> <%= error %> </b>
    </div>
    <% } %>
    <br>
    <hr style="width: 800px;">
    <div class="container">
  <form style="margin-top: 1em;" method="POST">
    <div class="cardd devpanel">
        <p>Add something to the To-DO List !</p>
        <textarea name="name" id="numberc" cols="30" rows="10" required placeholder="Revamp ...."></textarea>
        <br>
        <input type="text" name="date" id="date1" required placeholder="Soon">
        <br>
        <br>        
        <button type="submit"> Submit! </button>
    </div>
</form>
<form style="margin-top: 1em;" method="POST">
  <div class="cardd devpanel">
      <p>Remove something from the To-DO List !</p>
      <input type="number" name="id" id="id1">
      <br><br>
      <br>
      <input type="text" name="date" id="date1" required placeholder="Cancelled...">
      <br>
      <br>
              <button type="submit"> Submit! </button>
  </div>
</form>
</div>
</center>
  <%- include("partials/footer") %>
</body>

</html>