<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="shortcut icon" href="https://i.imgur.com/K68mvIF.png" style="border-radius: 80px;" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="https://i.imgur.com/K68mvIF.png" />
  <title>AntiRaid - Frequently Asked Questions</title>
</head>

<body>
  <%- include("partials/header", { bot, user, path, }) %>
  <center>
  <h1><i class="fa fa-question"></i> Frequently Asked Questions</h1><hr style="width: 700px;"></center>
  <center>  
  <div class="cardd faq">
      <h2 style="color: darkred"> How do you host the website?</h2>
      <p>Simple Answer: I have a VPS (Virtual Private Server) on which i host both website and bot</p>
      <hr style="width: 700px;">
      <h2 style="color: darkred"> Are you in need of other developers?</h2>
      <p>Answer: No, but you can apply for staff member by using the application page in profile dropdown menu</p>
      <hr style="width: 700px;">
      <h2 style="color: darkred"> What Language is the backend of website coded with?</h2>
      <p>Simple Answer: Javascript</p>
      <hr style="width: 700px;">
      <h2 style="color: darkred"> How do i suggest something?</h2>
      <p>Answer: Go to Home page and scroll down until you see two buttons: "Report Bug" & "Suggest"</p>
      <hr>
      <h2 style="color: darkred"> Why were temporary events like tempmute and tempban disabled?</h2>
      <p>Answer: Their code was crashing the bot after sending over hundreds of error causing bot after sometime to restart and for sometime bot is unusuable </p>
      <hr>
      <h2 style="color: darkred;">What does badges symbols means?</h2>
      <p>
        <li><i class="fa fa-users"></i> - Member</li>
        <li><i class="fa fa-code"></i> - Developer</li>
        <li><i class="fa fa-wrench"></i> - Staff</li>
        <li><i class="fa fa-handshake-o"></i> - Partner</li>
      </p>
      <h2 style="color: darkred;">What do premium servers get?</h2>
      <p>Premium servers get access to <strong>Tags</strong> features & <strong>Maybe soon when i fix temporary events they will be premium too</strong>...</p>
    </div>
  </center>
  <%- include("partials/footer") %>
</body>

</html>