<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" type="image/png" href="https://i.imgur.com/K68mvIF.png"/>
  <link rel="shortcut icon" href="https://i.imgur.com/K68mvIF.png" style="border-radius: 80px;" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>AntiRaid - Feedback</title>
</head>
<body>
<%- include("partials/header", { bot, user, path, }) %>
<center>
  <br>
  <% if (alert) { %>
    <div style="background-color: rgb(32, 235, 83);  border: solid; border-color: black; width: 800px; height: 40px; border-radius: 4px; padding: 6px">
      <b><i class="fa fa-warning" style="color: black;"></i><%= alert %></b>
    </div>
  <% }else if(error){ %>
    <div style="background-color: rgb(235, 32, 32);  border: solid; border-color: black; width: 800px; height: 40px; border-radius: 4px; padding: 6px">
      <b><i class="fa fa-warning" style="color: black;"></i><%= error %> </b>
    </div>
    <% } %>
    <br>
  </center>
<form style="margin-top: 1em;" method="POST"> <!-- method="post" tiggers a POST request to the same url with the body of the form control inputs -->
<center><h1>Send your feedback about our project!</h1></center>
<center><textarea class="input" maxlength="3900" type="text" name="feedback" style="width: 600px; height: 150px; border-radius: 2px;" placeholder="Very interesting and beautiful bot"></textarea><br><br></center>
<center><button style="width:170px" class="button" type="submit">Submit Feedback!</button></center>
</form>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<%- include("partials/footer") %>
</body>
</html>