<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="shortcut icon" href="https://i.imgur.com/K68mvIF.png" style="border-radius: 80px;" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="https://i.imgur.com/K68mvIF.png" />
  <title>AntiRaid - Staff News</title>
</head>

<body>
  <%- include("partials/header", { bot, user, path, }) %>
  <center><h1 style="font-size: 50px;"><i class="fa fa-user-secret"></i> Staff News</h1></center>
  <div class="container"><center><div class="left">
    <div class="cardd staff-news">
    <h5>Date: 28/01/2021</h5>
    <hr>
    <h5>Released Applications on website</h5>  
    </div>
  </center>
    <div class="cardd staff-news">
      <h5>Date: 29/01/2021</h5>
      <hr>
      <h5>Strider Discord Bot is now our partner</h5>
    </div>
  </div>
</div>
  <br><br><br>
  <%- include("partials/footer") %>
</body>

</html>