<html>
<footer class="bg-dark text-center text-white">
  <hr>
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="/discord" role="button"><i class="fa fa-ticket"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/antiraiddbot" role="button"><i
          class="fa fa-twitter"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Anti-Raid" role="button"><i
          class="fa fa-github"></i></a>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <p> © 2022 Copyright: AntiRaid</p>
    <a href="/frequently-asked-questions"><i class="fa fa-question"></i> Frequently Asked Questions</a><br><br>
    <a href="/privacy"><i class="fa fa-lock"></i> Privacy Policy</a><br><br>
    <a href="/tos"><i class="fa fa-cogs"></i> Terms Of Service</a><br><br>
    <p>Special Thanks to <a href="https://discord.com/users/780079091172900884">Dexter</a></p><br><br><br><br>
    <p>We are not affiliated with Discord Inc.</p>
    <br><br>
    <a href="//www.dmca.com/Protection/Status.aspx?ID=b1e8e483-1e41-4167-b16c-e56d33ae560b" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca-badge-w100-5x1-02.png?ID=b1e8e483-1e41-4167-b16c-e56d33ae560b"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
  </div>
</footer>

</html>
<!-- <footer class="text-center text-white fixed-bottom" style="background-color: black;">
        <div class="text-center p-3" style="background-color: rgba(20, 20, 20, 0.2);">
          © 2021 Copyright: AntiRaid
        </div>
        <div class="text-center p-4">
        <p>Credits to <a href="https://discord.com/users/844791851743707176" target="_blank">Dexter</a></p>
        </div>
        <div class="container p-4">
        <p>AntiRaid is not Affiliated with Discord Inc.</p>
        </div>
      </footer>
    -->