<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" type="image/png" href="https://i.imgur.com/wBJR0es.png"/>
  <link rel="shortcut icon" href="https://i.imgur.com/a/THYQkEE" style="border-radius: 80px;" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>AntiRaid - Terms Of Service</title>
</head>
<body>
    <%- include("partials/header", { bot, user}) %>
    <h1 style="font-size: 40px; color: darkred;"><i class="fa fa-cogs"></i> Terms of service - AntiRaid</h1>
    <br><br>
    <div class = "card bg-secondary text-white mb-3" style="width: 600px; margin-left: 600px;">
        <div class="card-header">
        <strong>By inviting AntiRaid you agree to the following actions below!</strong>
</div>
<div class="card-body">
        <li>Collecting guild id, owner id</li>
        <li>Create a collection for your server with your server data etc "warns, guild id, premium, configurations made in website"</li>
        <li>No refund for donation</li>
        <li>You can request refund of a purchased premium if you don't like it</li>
        <li>You can't request to delete your infractions you made like warns, you have to talk to the owner of the Discord server!</li>
      </div>
    </div>
</body>
</html>
<%- include("partials/footer") %>